@charset "UTF-8";
/*
    BreakPoints

Todas as demais medias
Pequenas Telas : Até 600px
celular: de 600 ate 768
tablet: de 768 até 992
Desktop: 992 ate 1200
Grandes Telas: 1200+



*/

@media print{
    body{
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }
    img#phone{
        display: none;
    }
    img#print{
        display: block;
    }
}
/*Telas de Tablet */
@media screen and ( min-width:768px ) and (max-width:992px) {
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }
    img#tablet{
        display: block;
    }
    img#phone{
        display: none;
    }
}
/*Telas de PC */

@media screen and ( min-width:992px) and (max-width:1200px){
    body{
        background-image: url('../imagens/back-pc.jpg');
    }
    img#pc{
        display: block;
    }
    img#phone{
        display: none;
    }
}
/*Telas Maiores */

@media screen and (min-width:1200px){
    body{
        background-image: url('../imagens/back-tv.jpg');
    }
    img#phone{
        display: none;
    }
    img#tv{
        display: block;
    }

}